<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/movie">Movie</a></li>
        <li><a href="/manga">Manga</a></li>
        <li><a href="/galery">Galery</a></li>
        <li><a href="/author">Author</a></li>
    </ul>
</nav>