<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/movie">Movies</a></li>
        <li><a href="/manga">Manga</a></li>
        <li><a href="/capture">Capture</a></li>
        <li><a href="/author">Author</a></li>
    </ul>
</nav>