/* @font-face {
    font-family: sans-serif;
    src: url("/font/akira.otf") format("opentype");
} */

body{
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(4deg, rgba(0,0,0,0.6278886554621849) 0%, rgba(255,0,0,1) 181%);
}

img{
    float: left;
    height: 90px;
    margin-right: 10px;
}
div{
    display: flex;
    flex-direction: column;
    margin-left: 50%;
    transform: translate(-50%);
}

p{
    text-align: start;
    width: auto;
    font-size: x-large;
    color: rgb(24, 22, 22);
}

h1{
    font-style: oblique;
    margin-left: 2rem;
}