body {
  height: 100vh;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    4deg,
    rgba(0, 0, 0, 0.6278886554621849) 0%,
    rgba(255, 0, 0, 1) 181%
  );
}

img {
  height: 90%;
}

.container {
  display: flex;
  margin: 5rem;
}

.info {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.info span {
  margin-top: 1rem;
  font-size: large;
}

.info span:nth-child(3) p {
  font-size: large;
}

#link {
  color: #000;
  text-decoration: none;
  font-size: large;
  padding: 1rem;
  background-color: transparent;
  border-radius: 15%;
  margin-left: 5rem;
  cursor: pointer;
  border: solid 1px #000;
}

#link:hover {
  box-shadow: 0px 0px 10px 5px #c34c00;
  color: red;
}
